.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 70px;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style: none;
  font-size: 18px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-icon-link {
  font-size: 15px;
  font-weight: 500;
  color: #a0a0b0;
  text-decoration: none;
  transition: 0.3s;
}

.nav-icon-link:hover {
  color: #0ed8df;
}

.nav-connect {
  padding: 16px 32px;
  border-radius: 40px;
  background: linear-gradient(267deg, #DF8908 0.36%, #B415FF 100%);
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s;
}

.nav-connect:hover {
  transform: scale(1.05);
}

.nav-connect:active {
  transform: scale(0.95);
}

.nav-connect p {
  color: #fff;
  margin: 0;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.nav-menu li img {
  display: flex;
  margin: auto;
}

.anchor-link {
  text-decoration: none;
  color: #fff;
}

.nav-mob-close {
  display: none;
}

.nav-mob-open {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    margin: 20px 30px;
  }

  .nav-right {
    gap: 10px;
  }

  .nav-icon-link {
    display: none;
  }

  .nav-connect {
    display: none;
  }

  .nav-mob-open {
    display: block;
    position: fixed;
    right: 30px;
  }

  .nav-mob-close {
    display: block;
    position: relative;
    top: 30px;
    left: 290px;
    width: 30px;
  }

  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 30px;
    background-color: #1f0016;
    width: 350px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
    right: -350px;
  }

  .nav-menu li {
    font-size: 26px;
    padding-left: 60px;
    flex-direction: row;
    gap: 10px;
  }
}
